
.feed-wrapper{
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight:600;
}

.input-group{
  display: flex;
  width: 100%;
}

.input-txt{
  font-size: 20px; 
  width: 217px;
  height: 39px;
  border: 2px solid black;
}

.feed-row{
  width: 40%;
}

.header{
  display: inline;
  font-weight: bold;
}

.header-txt{
  font-size: 25px;
}

.card-wrapper{
  display: flex;

}

.card-row{
  width: 100%;
  border: 1px solid black;
}

.card-n-btn{
  display: flex;
  padding: 10px;
  border: 1px solid black;
}

.card-item{
 width: 80%;
 
}

.card-button{
  width: 20%;

}

.card-n-btn:hover{
  box-shadow: 0px 10px black;
  font-weight: bold;
}

.close:hover{
  cursor: pointer;
}

.btn-style{
  width: 100px;
  height: 39px;
  border: 2px solid black;
  font-size: 24px;
  font-weight: bold;
}