* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.feed-wrapper{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;

  
}

.input-field{
  width:45%;
}

.feed-row{
  width: 45%;
}

.header{
  display: inline;
  font-size: 16px;
  font-weight: bold;
}

.card-wrapper{
  display: flex;

}

.card-row{
  width: 100%;
  
}

.card-n-btn{
  display: flex;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 10px;
}

.card-item{
 width: 80%;

}


.card-button{
  width: 20%;
}

.card-n-btn:hover{
  background-color: #f4f4f4;
}


/* 
.card-item{
  /* width: 80%;
  padding:10px;
  border-radius: 5px;
  padding: 5px; 
} */


/* 
.card-button{
  /* display: inline;
  justify-content: center;
  padding-right:10px;
  padding-top: 8px; 
  
} */

