* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


.user-wrapper{
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight:600;
  
}

.input-field{
  width:100%;
 
}

 .input-group{
  display: flex;
  border: 2px solid black;
  border-radius: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight:600;
 }

 .form-control{
   width: 100%;
   border: none;
   margin: 10px;
 }

 .btn-style{
  /* border: 2px solid black; */
  font-size: 12px;
  width: 100%;
 }

.user-row{
  width: 40%;
}

.header{
  display: inline;
  font-size: 25px;
  font-weight: bold;

}

.list-wrapper{
  display: flex;
  
 }

.list-item{
  width: 100%;
  border: 1px solid black;

}

.item{
 border: 1px solid black;
 padding:10px;
}

.item:hover{
  box-shadow: 0px 10px black;
  font-weight: bold;
}

.click{
  color: red;
}






