* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


.user-wrapper{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;

  
}

.input-field{
  width:45%;
}

.user-row{
  width: 45%;
}

.header{
  display: inline;
  font-size: 16px;
  font-weight: bold;
}

.list-wrapper{
  display: flex;
  
 }

.list-item{
  width: 100%;

}

.item{
 border: 1px solid #F4F4F4;
 border-radius: 5px;
 padding:10px;
}

.item:hover{
  background-color:#3168c2;
  font-weight: bold;
}







