
.user-wrapper{
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight:600;
  
}


.input-group{
  display: flex;
  width: 100%;
}

.input-txt{
  font-size: 20px; 
  width: 217px;
  height: 39px;
  border: 2px solid black;
}

.input-field{
  width:40%; 
}


 .input-btn{
   width: 20%;
   margin-left: 10px;
 }

 .btn-style{
  /* border: 2px solid black; */
  /* font-size: 12px; */
  /* width: 100%; */
 }

.user-row{
  width: 40%;
}

.header{
  display: inline;
  font-weight: bold;

}

.header-txt{
  font-size: 25px;
}

.txt-style{
  font-size: 25px;
}

.list-wrapper{
  display: flex;
  
 }

.list-item{
  width: 100%;
  border: 1px solid black;

}

.item{
 border: 1px solid black;
 padding:10px;
}

.item:hover{
  box-shadow: 0px 10px black;
  font-weight: bold;
}

.click{
  color: red;
}






