*{
    box-sizing : border-box;
}

.feedTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    padding-top: 40px;
    text-transform: capitalize;
  }

  .feedTitle:first-child{
    padding-top: 0px;
  }

  .videoThumbnail{
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .videofeedContainer{
    display: flex;
    flex-wrap: wrap;
    
  }

  .showMoreButton{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* width: 100%; */
  }
  .showMoreButton:hover{
    color: #EA482C;
  }

  .img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(233, 63, 11, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

  .homeVideoText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding: 20px 10px 10px 10px;
  }

  .homeVideoPublish{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 10px;
  }

