*{
    box-sizing : border-box;
}

.feedTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    padding-top: 40px;
    text-transform: capitalize;
  }

  .feedTitle:first-child{
    padding-top: 0px;
  }

  .videoThumbnail{
    height: 200px;
    /* border: 2pt solid black; */
    font-family: Arial, Helvetica, sans-serif;
  }

  .videofeedContainer{
    display: flex;
    flex-wrap: wrap;
    
  }

  .showMoreButton{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* width: 100%; */
  }
  .showMoreButton:hover{
    color: #EA482C;
  }

  /* */
  
  /* The only rule that matters */
  #video-background {
  /*  making the video fullscreen  */
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
  }
  
  /* These just style the content */
  article {
  /*  just a fancy border  */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
  }
  
  /* h1 {
    position: absolute;
    top: 60%;
    width: 100%;
    font-size: 36px;
    letter-spacing: 3px;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
  } */
  
  /* h1 span {
    font-family: sans-serif;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  } */
  
  /* h1 span a {
    color: #fff;
<<<<<<< danielBranch
  } */
  
=======
  }
  .img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(233, 63, 11, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }

  .homeVideoText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 15px;
    padding: 20px 10px 10px 10px;
  }

  .homeVideoPublish{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 10px;
  }
>>>>>>> local
