*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-container{
    width: 50%;
    margin: 0 auto;
}

.video-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}