*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }
  
  .top-space{
    /* border-bottom: 2pt solid black; */
  }
  
  .App{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0  auto;
  }
  
  .navBar{
    flex: 1;
    /* border-right: 2pt solid black; */
    /* border-left: 2pt solid black; */
  }
  
  .pageWindow{
    flex: 4;
    /* border-right: 2pt solid black;  */
    margin-bottom:50px; 
  }
  
  .sideNavBar{
    flex: 1;
    /* border: 2px solid black; */
  }
  
  .logo{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 40.478px;
  }
  
  .searchBox{
    display: flex;
    flex-wrap: wrap;
    min-height: 40.478px;
    justify-content: start;
    /* border: 1px solid red; */
  }
  
  .searchButton{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    border-bottom: 2pt solid black;
    border-top: 0;
    border-left: 0; 
    font-size: 25px;
    padding: 5px 6px 0 5px;
  }
  
  .searchButton:hover{
    background-color: yellow;
  }
  
  .searchInput{
    border: 2pt solid;
    border-top: 0; 
    width: 265px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    padding-left: 5px; 
  }
  
  /* .searchInput:hover{
    background-color: yellow;
  } */
  
  .navTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 40.478px;
  }
  
  .navBarContainer{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    padding-top: 100px;
  }
  
  .navBarButton{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    /* border-bottom: 2pt solid black;  */
    font-size: 25px;
    padding: 20px 6px 0 5px;
    text-decoration: none;
  }
  
  .navBarButton:first-child{
    padding-top: 0; 
  }

  .navBarButton:active{
    color: orange;
  }

  .navBarButton:visited{ 
    color: black;
  }
  
  .navBarButton:hover{
    color: #6284B1;
  }


  /* a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active */
  
  .pageContainer{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
  }
  
  .feedTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    padding-top: 40px;
  }
  
  .feedTitle:first-child{
    padding-top: 0px;
  }
  
  .showMoreButton{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }
  
  .showMoreButton:hover{
    color: #EA482C;
  }
  
  .videofeedContainer{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
  }
  
  .videoThumbnail{
    width: 200px;
    height: 200px;
    border: 2pt solid black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .videoThumbnail:hover{
    background-color: #EA482C;
    font-weight: 600;
  }

  .videoSearchContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .videoSearchThumbnail{
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
  }

  .leftMargin{
    margin-left: 200px;
  }

  .searchImageBox{
    /* object-fit: contain; */
    width: 200px;
    height: 200px;
    overflow: hidden;
  }

  .searchImage{
    /* object-fit: contain; */
    width: 275px;
    height: 275px;
    margin-top: -40px;
  }

  .searchInfoBox{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .searchText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    padding: 0px 0px 0 10px;
  }

  .searchResultText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    padding: 0px 0px 10px 0px;
  }

  .searchPublish{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 0px 0 10px;
  }
 
  .sideBarButton{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 400;
    font-size: 25px;
    padding: 20px 6px 0 5px;
  }




  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

   #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
<<<<<<< danielBranch
  }
=======
  }
  .pageContainerVideo{
    padding-top: 5px;
    
  }


>>>>>>> local
